@model BinaryStudio.TaskManager.Logic.Domain.Reminder

@{
    ViewBag.Title = "Создание";
}

<h2 class="well-large">Создание напоминания</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Напоминание</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Создать напоминание" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Вернуться к предыдущему списку", "Index")
</div>


