@model BinaryStudio.TaskManager.Logic.Domain.Reminder

@{
    ViewBag.Title = "Creation";
}

<h2 class="well-large">Reminder creation</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Reminder</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Create reminder" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to previous page", "MyReminders")
</div>


