@model BinaryStudio.TaskManager.Web.Models.EventViewModel

<div class = "dvsd" id = @Model.EventId.ToString()>
    <strong>@Html.ActionLink(Model.WhoChangeUserName, "UserDetails", "Project", new {id = Model.WhoChangeUserId},null)</strong>
</div>