@using BinaryStudio.TaskManager.Web.Models;
@model List<EventViewModel>
<div class="container-fluid" style="margin-top: 30px">
    <h2>My news</h2>
    <div class="row-fluid">
        <div class="span2">
            <!--Sidebar content-->
        </div>
        <div class="span8">
            @{
                foreach (EventViewModel event_ in Model)
                {
                        
                    @Html.Partial("EventPartialView", event_);
                    <hr/>
                }
            }

        </div>
    </div>
</div>
