@using BinaryStudio.TaskManager.Web.Models;
@model List<EventViewModel>
<div class="container-fluid" style="margin-top: 30px">
    <h2>My news</h2>
        <button class="btn btn-inverse all_read">Mark all news as read</button>
    <div class="row-fluid">
        <div class="span1">
            <!--Sidebar content-->
        </div>
        <div class="span8">
            @{
                foreach (EventViewModel event_ in Model)
                {
                        
                    @Html.Partial("EventPartialView", event_);
                    <hr style="margin: 9px 0"/>
                }
            }

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.container.evnt_unread').click(function () {
            $(this).addClass('evnt_read');
            $(this).removeClass('evnt_unread');
            var nId = $(this).attr('id');
            $.ajax({
                type: "POST",
                url: "/Events/MarkAsRead",
                data: { newsId: nId },
                dataType: "json",
                traditional: true
            });
        });
        $('.all_read').click(function () {
            var unread_evnts = $('.evnt_unread');
            unread_evnts.addClass('evnt_read');
            unread_evnts.removeClass('evnt_unread');
            $.ajax({
               type: "POST",
               url: "/Events/MarkAllUnreadNewsAsRead"               
            });
    });
});
</script>

