@model BinaryStudio.TaskManager.Web.Models.ManagersViewModel


<script type="text/javascript">
    $(document).ready(function () {
        $(".sortableTasks").sortable({
            connectWith: $(".sortableTasks"),
            placeholder: "placeholderTask"
        });     
    });
</script>


<!-- Caption of the table "Managers-Tasks"-->
<p align="center">Managers and their current tasks.</p>
<table align="center">            
   
    @if (Model.ManagerTasks.Count == 0)
    {
        <p>No managers found!</p>
    }
    else
    {
        <!-- Header of the table (Managers names)-->
        <tr>
            <td align="center" width="250">
                    <div class="manager">Unassigned Tasks </div>
                </td>
            @foreach (var manager in Model.ManagerTasks)
            {
                <td align="center" width="250">
                   
                    <div class="manager">
                         @Html.ActionLink(manager.Manager.Name, "ManagerDetails",new {id = manager.Manager.Id},new {@style = "display:block;"})
                         
                    </div>
                </td>
            }
        </tr>
    }
            
    <!-- Create a column with tasks-->
    <td align = "center" valign="top" width="250">
        <div>Add new task</div>
        @foreach (var unAssignedTask in Model.UnAssignedTasks)
        {
            <div class="sortableTasks">        
                @Html.Partial("ManagerTasksTablePartialView", unAssignedTask)
            </div>
        }
        <div class = "sortableTasks" style = "height: 300px"></div>
    </td>
        
    
    @foreach (var manager in Model.ManagerTasks)
    {
        
        <td align = "center" valign="top" width="250">
                <div>Add new task</div>
                @foreach (var task in manager.Tasks)
                {
                    <div class="sortableTasks">
                        @Html.Partial("ManagerTasksTablePartialView", task)                    
                    </div>
                }
            <div class = "sortableTasks" style = "height: 300px"></div>
        </td>
    }    
</table>