@model BinaryStudio.TaskManager.Web.Models.SingleTaskViewModel
@{
    ViewBag.Title = "Удаление задачи";
}
<h2>
    Удаление задачи
</h2>
<h3>
    Вы уверены в совершаемом действии?
</h3>
@Html.Partial("TaskDetailsPartial")
@using (Html.BeginForm())
{
    <div>
        <input type="submit" value="Удаление задачи" /><br />
    </div>
    <p>
        @Html.ActionLink("Вернуться в список всех задач", "AllTasks") |
        @Html.ActionLink("Вернуться к Dashboard", "AllManagersWithTasks")
    </p>
}
