@model BinaryStudio.TaskManager.Web.Models.SingleTaskViewModel
@{
    ViewBag.Title = "Подробности";
}
<h2>
    Подробности
</h2>
    @Html.Partial("TaskDetailsPartial")
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.HumanTask.Id }) |
    @Html.ActionLink("Вернуться к списку всех задач", "AllTasks") |
    @Html.ActionLink("Вернуться к Dashboard", "AllManagersWithTasks")
</p>
