@model BinaryStudio.TaskManager.Logic.Domain.HumanTask
@* This partial view draw a task block in table *@        
<div class="task">
    <b>@Model.Name</b>
    <br/> <br/>
    @Model.Description                                    
</div>
                           
                  
