@{
    ViewBag.Title = "About Us";
    Layout = null;
}

<h2>About</h2>
<p>
Hello, this is a modal jquery popup !
</p>
<p><a href="javascript:void(0);" class="close">Close this Window</a></p>