@model BinaryStudio.TaskManager.Web.Models.SingleTaskViewModel
@{
    ViewBag.Title = "Delete task";
}
<h2>
    Delete task
</h2>
<h3>
    Are you sure you want to delete this task?
</h3>
@Html.Partial("TaskDetailsPartial")
@using (Html.BeginForm())
{
    <div>
        <input type="submit" value="Delete" /><br />
    </div>
    <p>
        @Html.ActionLink("Back to all tasks in project", "AllTasks") |
        @Html.ActionLink("Back to project dashboard", "PersonalProject")
    </p>
}
