@model BinaryStudio.TaskManager.Web.Models.SingleTaskViewModel
@{
    ViewBag.Title = "Delete task";
}
<h2 class="well-large">
    Delete task
</h2>
<h3>
    Are you sure you want to delete this task?
    <button title="Yes" class="btn btn-success">
        Yes
     </button>
    <button title="No" class="btn btn-danger" >
        No
    </button>
</h3>
<br />
@Html.Partial("TaskDetailsPartial")
@using (Html.BeginForm())
{
    <br />
    <div>
        <input type="submit" value="Delete" class="btn btn-primary" /><br />
    </div>
}
<p>
    <p>
    </p>
    <span class="divider-vertical"></span>
    @Html.ActionLink("Back to all tasks view", "AllTasks", new { projectId = Model.HumanTask.ProjectId }, new { @class = "btn" })
    <span class="divider-vertical"></span>
    @Html.ActionLink("Back to project dashboard", "Project", new { id = Model.HumanTask.ProjectId }, new { @class = "btn" })
</p>
