@model List<BinaryStudio.TaskManager.Web.Models.InvitationsViewModel>       
@{
    ViewBag.Title = "Your invitations";    
}
<div class="well-large">
    Invitations
</div>
<div>
    @foreach (var item in Model)
    {
        <p>
            <div>
                @item.Sender.UserName invite you to project @item.Project.Name
            </div>
            @Html.ActionLink("Agree", "SubmitInvitationInProject", "Project", new {invitationId = item.Invitation.Id }, new { @class = "btn btn-primary" })
        </p>        
    }
</div>
