@model IEnumerable<BinaryStudio.TaskManager.Logic.Domain.User>
@{
    ViewBag.Title = "All users list";
}
<h2>
    All users list
</h2>
<table>
    <tr>
        <th>
            User name
        </th>
        <th>
        </th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @user.UserName
            </td>
            <td>
                @Html.ActionLink("Ivite", "InviteUserInProject", new { userId = user.Id, projectId = 1 }, new { @class = "btn" }) 
                @Html.ActionLink("Delete", "RemoveUserFromProject", new { userId = user.Id, projectId = 1 }, new { @class = "btn" }) 
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to tasks list", "PersonalProject")
</p>
