@model BinaryStudio.TaskManager.Web.Models.ProjectCollaboratorsViewModel
@{
    ViewBag.Title = "Manage collaborators";
}
<h2 class="well-large">
    Manage collaborators
</h2>
<table class="tabbable">
    <tr>
        <th>
            User name
        </th>
        <th>
        </th>
    </tr>
    @foreach (var user in Model.Collaborators)
    {
        <tr>
            <td>
                @user.UserName
            </td>
            <td>
                @Html.ActionLink("Invite", "InviteUserInProject", new { receiverId = user.Id, projectId = 1 }, new { @class = "btn" })
                @Html.ActionLink("Delete", "RemoveUserFromProject", new { receiverId = user.Id, projectId = 1 }, new { @class = "btn" })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Back to tasks list", "PersonalProject")
</p>
