@model BinaryStudio.TaskManager.Logic.Domain.HumanTask

<div id="editor-field">

    @Html.TextAreaFor(model => model.Description, new { @class = "quicktaskarea", @style = "resize: none;" })

</div>

<div class="button">
    <button title="Quick task creation" class="create btn">
        Create
    </button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var self = this;
        var onSuccess = function () {
            $(self).parents(".project/project");

//            $(".quicktaskarea").value = "" ;
//            .attr('value','updated value of textarea');

        };
        
        $(".create").click(function () {

            var projId = @Model.ProjectId;

                var taskDescription = jQuery(".quicktaskarea").val();
                $.ajax({
                    type: "POST",
                    url: "/QuickTask/QuickTaskCreation/",
                    data: { projectId: projId, description: taskDescription },
                    dataType: "json",
                    traditional: true
                }).success(onSuccess);
            });

        });
</script>