@model BinaryStudio.TaskManager.Logic.Domain.HumanTask
<div class="editor-field">
    @Html.TextAreaFor(model => model.Description, new {@class = "quicktaskarea"})
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="button">
    <button title="Quick task creation" class="create btn">
        Create
    </button>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        
        $(".create").click(function () {

            var projId = @Model.ProjectId;
            var taskDescription = jQuery(".quicktaskarea").val();
            $.ajax({
                type: "POST",
                url: "/QuickTask/QuickTaskCreation/",
                data: { projectId: projId, description: taskDescription },
                dataType: "json",
                traditional: true
            });
        });
    });
</script>