@model BinaryStudio.TaskManager.Logic.Domain.HumanTask

@*<button title="Quick task creation" class="create btn">
        Create
    </button>*@
    @Html.TextAreaFor(model => model.Description, new { @class = "quicktaskarea", @style = "resize: none;" })

<script type="text/javascript">
    $(document).ready(function() {
        $(".create").prop("disabled","true");
        $(".create").click(function (){createTask()});
        $(".quicktaskarea").keyup(function(e) {
            if (e.ctrlKey && e.keyCode == 13) {
                createTask();
            }
            if ($(this).val()!="")
                $(".create").removeAttr("disabled");
            else
                $(".create").prop("disabled","true");
        });
    });

    function createTask() {
       var self = this;
       var onSuccess = function() {
           $(self).parents(".project/project");
       };
       var projId = @Model.ProjectId;
       var taskDescription = jQuery(".quicktaskarea").val();
       $.ajax({
           type: "POST",
           url: "/QuickTask/QuickTaskCreation/",
           data: { projectId: projId, description: taskDescription },
           dataType: "json",
           traditional: true
       }).success(onSuccess);
       $(".quicktaskarea").val("");
    }
</script>