<div class="btn-group pull-right">
    @if (Request.IsAuthenticated)
    {        
        <span class="label label-info">@User.Identity.Name
        </span> 
        <span>            
            @Html.ActionLink("LogOff", "LogOff", "Account", null, new { @class = "btn btn-danger" })
        </span>
    }
    else
    {
        @Html.ActionLink("LogIn", "LogOn", "Account", null, new { @class = "btn btn-primary" })            
        @Html.ActionLink("LogIn with LinkedIn", "LogonStart", "LinkedIn", null, new { @class = "btn btn-primary" })                
    }
</div>
