@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

<br/>
<br/>
<h2>
    Exception occurred during request processing.
</h2>

<h3>
    Controller : @Model.ControllerName
</h3>
<h3>
    Action : @Model.ActionName
</h3>

<pre>
    @Model.Exception.ToString()
</pre>
