@{ViewBag.Title = "Admin panel";}
<div class="page-header">
    <h1>
        Manage application data
    </h1>
</div>
<ul class="nav nav-pills nav-stacked span3">
    <li>
        @Html.ActionLink("List of all users", "UsersList", "Admin") 
    </li>
    <li>
    <span class="divider"></span>
    </li>
    <li>
    @Html.ActionLink("List of all projects", "ProjectsList")
    </li>
    <li>
    <span class="divider"></span>
    </li>
</ul>
