@model BinaryStudio.TaskManager.Web.Models.UserViewModel

<fieldset>
    <legend>Fields</legend>
    <div class="editor-label">
        Select user
    </div>
    <div class="editor-field">
           <select>                
                @foreach(var user in Model.Users)
                {
                    <option>
                        @user.UserName
                    </option>
                }                
            </select>        
    </div>
    <div class="editor-label">
        Select Employee
    </div>
        <div class="editor-field">
            <select>                
                @foreach(var emplyee in Model.Employees)
                {
                    <option>
                        @emplyee.Name
                    </option>
                }                
            </select>        
        </div>
    
    <p>
        <input type="submit" value="Save" />
    </p>
</fieldset>
