@model BinaryStudio.TaskManager.Logic.Domain.User
@{
    ViewBag.Title = "Удаление пользователя";
}
<h2>
    Удаление пользователя</h2>
<h3>
    Вы уверены, что хотите удалить текущую запись?</h3>
<fieldset>
    <legend>Details about selected user</legend>
    <div class="display-label">
        Имя</div>
    <div class="display-field">
        @Model.UserName
    </div>
    <div class="display-label">
        Email
    </div>
    <div class="display-field">
        @Model.Email
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="DeleteUser" />
        |
        @Html.ActionLink("Вернуться в панель администратора", "Index")
    </p>
}
