@model BinaryStudio.TaskManager.Logic.Domain.User
@{
    ViewBag.Title = "Delete user";
}
<h2>
    Delete</h2>
<h3>
    Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Details about selected user</legend>
    <div class="display-label">
        Name</div>
    <div class="display-field">
        @Model.UserName
    </div>
    <div class="display-label">
        Email
    </div>
    <div class="display-field">
        @Model.Email
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="DeleteUser" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
