@model BinaryStudio.TaskManager.Logic.Domain.Employee
@{
    ViewBag.Title = "Удаление сотрудника";
}
<h2>
    Удаление сотрудника
</h2>
<h3>
    Вы уверены в совершаемом действии?
</h3>
<fieldset>
    <legend>Данные выбранного сотрудника </legend>
    <div class="display-label">
        Имя
    </div>
    <div class="display-field">
        @Model.Name
    </div>
    <div class="display-label">
        Количество заданий
    </div>
    <div class="display-field">
        @(Model.Tasks == null ? "None" : Model.Tasks.Count.ToString())
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="DeleteEmployee" />
    </p>
}
<p>
    @Html.ActionLink("Вернуться в панель администратора", "Index")
</p>
