@model BinaryStudio.TaskManager.Logic.Domain.User
@{
    ViewBag.Title = "Deleting User";
}
<h2 class="page-header">
    Deleting user</h2>
<h3>
    Are you sure?</h3>
<fieldset>
    <legend>Details about selected user</legend>
    <div class="display-label">
        Name</div>
    <div class="display-field">
        @Model.UserName
    </div>
    <div class="display-label">
        Email
    </div>
    <div class="display-field">
        @Model.Email
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="DeleteUser" class="btn btn-primary" />
    </p>
}
<div>
    @Html.ActionLink(" Back to AdminPanel", "AdminPanel", "Admin", null, new { @class = "btn" })
</div>
