<h2>Admin panel</h2>
<ul>
    <li>@Html.ActionLink("Добавить нового юзера","RegisterNewUser")</li>
    <li>@Html.ActionLink("Добавить нового сотрудника","RegisterNewEmployee")</li>
    <li>@Html.ActionLink("Соеденить узера и сотрудника","ConnectUserWithEmployee")</li>
</ul>