<h2>
    Панель администрирования
</h2>
<ul>
    <p>
        <li>@Html.ActionLink("Добавить нового пользователя", "RegisterNewUser")</li>
    </p>

    </p>
    <p>
        <li>@Html.ActionLink("Список всех пользователей", "UsersList")</li>
    </p>
</ul>
