div.sortableTasks a
{
    width: 100%;
    height: 100%;
    text-indent: -50000px;
    text-decoration: none;
}
.column
{
    width: 270px;
    float: left;
    min-height: 300px;
}
div.task
{
    border-radius: 15px 15px 15px 15px; /*border:2px solid black; */
    width: 200px;
    height: 100px;
    margin: 10px;
    box-shadow: 3px 3px 5px 1px #cccccc;
    background: #dcd8d8; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcd8d8'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcd8d8)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ffffff,  #dcd8d8); /* for firefox 3.6+ */
}

.placeholderTask
{
    opacity: 33;
    width: 200px;
    height: 100px;
    border-radius: 15px 15px 15px 15px;
    background: #878686; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c6c6', endColorstr='#878686'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#dbd5d5), to(#9b9797)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #c8c6c6,  #878686); /* for firefox 3.6+ */
}

div.task.priority
{
}
.blocking
{
    background: #ff1a00; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcada4 0%, #ff1a00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcada4), color-stop(100%,#ff1a00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcada4 0%,#ff1a00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcada4 0%,#ff1a00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcada4 0%,#ff1a00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcada4 0%,#ff1a00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */
}

.priorityHigh
{
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

.priorityMiddle
{
    background: #63b6db; /* Old browsers */
    background: -moz-linear-gradient(top,  #63b6db 0%, #309dcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b6db), color-stop(100%,#309dcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #63b6db 0%,#309dcf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
}
.priorityLow
{
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.task.content
{
    background: -webkit-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%);
}

.container.evnt_unread
{
    background-color: lightblue;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width: auto;
}

.container.evnt_read
{
    background-color: whitesmoke;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width: auto;
}

button.all_read
{
    float: left;
}
