div.sortableTasks a  
{
    width: 100%; 
    height: 100%; 
    text-indent: -50000px; 
    text-decoration: none;
}
    
div.task  
{
    border-radius: 15px 0 0 0; 
    border:2px solid black;
    width:200px;
    height:100px;
    margin: 5px;
       
}

.placeholderTask 
{
    opacity: 33;
    width:200px;
    background:cornflowerblue;
    height:100px;
}

div.task.priority {
    
}

.pr2 {
    background-color: #1F3E9B;
    color: white; 
}
.pr1 {
    background-color: #7390E6;
    color: white; 
}
.pr0 {
    background-color: #AACDFF;
    color: white; 
}

.evnt_unread {
    background-color: E4F4F7;
    border-radius:  2px 2px 2px 2px;
    padding: 7px; 
    padding-left: 20px; 
}