div.sortableTasks a
{
    width: 100%;
    height: 100%;
    text-indent: -50000px;
    text-decoration: none;
}
.column
{
    width: 180px;
    float: left;
    min-height: 150px;
}
.usercolumn
{
    width: 200px;
    float: left;
    min-height: 150px;
}
div.task
{
    border-radius: 15px 15px 15px 15px; /*border:2px solid black; */
    width: 170px;
    height: 100px;
    margin: 10px;
    box-shadow: 3px 3px 5px 1px #cccccc;
    background: #dcd8d8; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcd8d8'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcd8d8)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ffffff,  #dcd8d8); /* for firefox 3.6+ */
}

div.user
{
    border-radius: 15px 15px 15px 15px; /*border:2px solid black; */
    width: 170px;
    height: 120px;
    margin: 5px;
    box-shadow: 3px 3px 5px 1px #cccccc;
    background: #dcd8d8; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcd8d8'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dcd8d8)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #ffffff,  #dcd8d8); /* for firefox 3.6+ */
}

.placeholderTask
{
    opacity: 33;
    width: 200px;
    height: 100px;
    border-radius: 15px 15px 15px 15px;
    background: #878686; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c8c6c6', endColorstr='#878686'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#dbd5d5), to(#9b9797)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #c8c6c6,  #878686); /* for firefox 3.6+ */
}

div.task.priority
{
}
.blocking
{
    background: #ff1a00; /* Old browsers */
    background: -moz-linear-gradient(top,  #fcada4 0%, #ff1a00 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcada4), color-stop(100%,#ff1a00)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #fcada4 0%,#ff1a00 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #fcada4 0%,#ff1a00 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #fcada4 0%,#ff1a00 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #fcada4 0%,#ff1a00 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1a00', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */
}

.priorityHigh
{
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top,  #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

.priorityMiddle
{
    background: #63b6db; /* Old browsers */
    background: -moz-linear-gradient(top,  #63b6db 0%, #309dcf 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63b6db), color-stop(100%,#309dcf)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #63b6db 0%,#309dcf 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #63b6db 0%,#309dcf 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63b6db', endColorstr='#309dcf',GradientType=0 ); /* IE6-9 */
}
.priorityLow
{
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #7cbc0a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#7cbc0a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#7cbc0a 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#7cbc0a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.task.content
{
    background: -webkit-linear-gradient(top, #f2f9fe 0%,#d6f0fd 100%);
}

.container.evnt_unread
{
    background-color: lightblue;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width: auto;
}

.container.evnt_read
{
    background-color: whitesmoke;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width: auto;
}

.container.invitationEvent
{
    background-color: whitesmoke;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
    width: auto;
    margin-left: 20px; 
    background-color:  #C1FFB8; 
}

button.all_read
{
    float: left;
}

.InvitationButton {
	-moz-box-shadow:inset 0px 0px 2px -14px #4787b8;
	-webkit-box-shadow:inset 0px 0px 2px -14px #4787b8;
	box-shadow:inset 0px 0px 2px -14px #4787b8;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f1d1ff), color-stop(1, #a39ca8) );
	background:-moz-linear-gradient( center top, #f1d1ff 5%, #a39ca8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1d1ff', endColorstr='#a39ca8');
	background-color:#f1d1ff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #cdc6e6;
	display:inline-block;
	color:#424452;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:4px 23px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
    margin-top: 7px;
}.InvitationButton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a39ca8), color-stop(1, #f1d1ff) );
	background:-moz-linear-gradient( center top, #a39ca8 5%, #f1d1ff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a39ca8', endColorstr='#f1d1ff');
	text-decoration:none;
	background-color:#a39ca8;
}.InvitationButton:active {
	position:relative;
	text-decoration:none;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

#register_block 
{
    width: 300px;
    margin: 0 auto;
}

.datepicker.dropdown-menu {
    z-index: 10000;
}