/***************** Left panel ***********************/

#project_groups {
    border-bottom: 5px ridge #7199B7;
}
#projects 
{
    position: relative;
}
.project_list {
    list-style: none;
    padding: 0px;
    padding-top: 10px;
}

.project_list li{
    clear: left;
    position: relative;
}

.project_list li .project_name{
    padding: 5px 0;
    padding-left: 10px;
    float: left;
    position: absolute;
    width: 75%;
    left: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.project_list li .project_name:hover{
    cursor: pointer;
    background: #64AAD0;
}

.delete_btn 
{
    height: 14px;
    width: 14px;
    background: url('images/delete-icon.gif');
    float: left;
    margin: 5px 0;
    margin-right: 20px;
    cursor: pointer;
    opacity: 0.3;
}

.delete_btn:hover {
    opacity: 1;
}

.new_project_btn {
    height: 16px;
    position: absolute;
    right: 20px;
    padding: 10px;
    padding-right: 20px;
    background: url("images/plus_icon.gif") no-repeat;
    background-position: right;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.new_project_btn:hover {
    background: #A0F06C url("images/plus_icon.gif") no-repeat;
    background-position: right;
    
}

.dashboard_btn 
{
    width: 25px;
    height: 25px;
    background: url("images/to_dashboard.png") no-repeat;
    background-position: right;
    background-size: 100%;
    position: absolute;
    right: 0px;
}
/****************** Boxes ********************/

#delete_box {
    width: 300px;
    padding-top: 20px;
}

#add_proj_box {
    display: none;
    margin-top: 20px;
}

.add_cancel:hover{
    text-decoration: underline;
    cursor: pointer;
}