.main-row {
    margin-top: 50px;
}
/***************** Left panel ***********************/

#left_panel {
    width: 270px;
    margin-left: 50px;
    float: left;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#task_groups {
    border-bottom: 1px solid #46593F;
}
#projects 
{
    position: relative;
    padding-top: 20px;
}
.project_list, .task_group_list {
    padding: 0px;
    padding-top: 10px;
    overflow: auto;
}

#task_groups h3, #projects h3{
    margin-left: 20px;
}
.task_group_list {
    padding-left: 20px;
}


.project_name {
    float: left;
    width: 226px;
    padding: 5px 0 ;
    padding-left: 10px;
    margin-right: 10px; 
    margin-left: 5px; 
}

.task_group_list .project_name {
    width: 230px;
}
.project_name:hover{
    cursor: pointer;
    background: #EEF0F0;
}

.created_projs {
    font-weight: bolder;
}

.user_projs {
    margin-left: 25px;
}

.active_proj {
    background: #BAD3A7;
}

.task_group_list {
    padding-bottom: 20px;
}

.task_group_list li {
    margin: 10px 0;
}
.delete_btn 
{
    height: 14px;
    width: 14px;
    background: url('images/delete-icon.gif') no-repeat;
    background-position: 50%;
    float: left;
    padding-top: 10px; 
    margin-right: 5px;
    cursor: pointer;
    opacity: 0.3;
}

.delete_btn:hover {
    opacity: 1;
}

.new_project_btn {
    height: 16px;
    position: absolute;
    right: 0px;
    padding: 2px;
    padding-right: 20px;
    background: url("images/plus_icon.gif") no-repeat;
    background-position: right;
    margin-top: 5px;
    cursor: pointer;
}

.new_project_btn:hover 
{
    border-bottom: #249400 1px dashed; 
}

/****************** Boxes ********************/

#delete_box {
    width: 300px;
    padding-top: 20px;
}

#add_proj_box {
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.add_cancel:hover{
    text-decoration: underline;
    cursor: pointer;
}

#loader {
    position: absolute;
    background: white url('images/ajax-loader.gif') no-repeat;
    background-position: 50% 30%;
    opacity: 0.7;
    z-index: 2;
    width: 100%;
    height: 130%;
    display: none;
    top: 0;
}

/************ Central part  *************/
.proj_title {
    color: green;
    float: right;
    margin-right: 50px;
}
#content h2 {
    display: inline-block;
}
.task_in_list {
    border-bottom: 1px solid #EEE;
    margin-top: 10px;
    height: 35px;
}
.task_in_list:first-child{
    border-top: 2px solid #EEE;
    padding-top: 10px;
}

.priority {
    width: 5px;
    height: 30px;
    border-radius: 1px;
    float: left;
    margin-right: 10px;
}
.prior_1 {
    background: #3A87AD;
}

.prior_2 {
    background: #F89406;
}

.prior_0 {
    background: #468847;
}

.prior_3 {
    background: #B94A48;
}

.assignee_photo {
    display: inline-block;
    float: right;
}
.assignee_photo img{
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
img {
    border: 0px;
}
.large_photo {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.no_filtered {
    display: none;
}

.sort_btn.btn-group {
    float: right;
    display: block;
}

.img_holder{
    position: relative;
    width: 45px;
    height: 30px;
    bottom: 9px;
    padding: 0;
    padding-left: -10px;
    line-height: 28px;
    display: inline-block;
    margin-top: 7px;
}
.appointive:hover {
    background: #F8F8F8;
    border: 1px solid #D4D4D4; 
    border-bottom-color: #BCBCBC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.appointive:hover img {
    position: relative;
    left: 1px;
    bottom : 1px;
}
.appointive:hover::after {
    content: "";
    display: block;
    position: absolute;
    border: 4px solid black;
    border-color: black transparent transparent;
    top: 22px;
    right: 3px;
    width: 0px;
    height: 0px;
}

.user_list_holder {
    width: 250px;
    border: 1px solid #D4D4D4; 
    border-bottom-color: #BCBCBC;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: none;
    position: absolute;
    z-index: 10;
    background: white;
}

.user_list_close {
    float: right;
    margin-right: 5px;
    padding: 0 5px;   
}

.user_list_close:hover{
    cursor: pointer;
}

.user_list {
    list-style: none;
    margin: 0px;
    max-height: 250px;
}
.user_list li,
.user_list_clear {
    height: 30px;
    border-bottom: 1px solid #EEE;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
}
.user_list li:hover,
.user_list_clear:hover {
    background: #E4FFCF;
    cursor: pointer;
}

.user_list li img{
    width: 30px;
    height: 30px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.user_list li span{
    margin-left: 10px;
}
.user_list_title {
    background: #F8F8F8;
    line-height: 30px;
    padding-left: 10px;
    font-weight: bolder;
}

.user_list_input 
{
    margin-left: 10%;
    margin-top: 10px;
    width: 80% !important;
}

.user_list_header {
    padding-bottom: 2px;
    border-bottom: 2px solid black !important;
}